<div class="page-header">
    <div class="page-background about"></div>
    <h2 class="page-title">Small Online Reading Groups</h2>
</div>

<div class="page-content">
    <div class="spacer"></div>
    <h3 class="text-center">Rockin Readers was developed by an Elementary School Teacher</h3>
    <h5 class="text-center">Practice makes perfect. Learning to play a sport or a musical instrument or to speak a new language requires practice. Learning to read also requires consistent practice. Rockin Readers offers focused reading practice 12 times per month.</h5>
    <div class="row p-2">
        <div class="col-sm">
            <h2>Reading Materials</h2>
            <p>Rockin Readers is a licensed user of Learning A-Z. Online sources include a vast assortment of reading materials for every reading level from Pre-K to 6th Grade. The weekly sessions focus on spelling patterns, sight words, vocabulary, and comprehension. Our goal is to help children read fluently, with expression, and with an understanding of fiction and non-fiction passages.</p>
            <h2>How it works</h2>
            <p>Children will be placed in a group with two other students and a qualified Reading Coach. They will have three 30 minute online Zoom reading sessions per week. The same Zoom link will be used for each session. Students need to be logged in on time to get the most out of their sessions. To be respectful of other Students and the Reading Coach we ask that students have a quiet environment in which to read. We also ask that students do not eat, move around, or act silly during sessions. Since this is a video link we can see your child and whoever is in the background. Being appropriately dressed is also a requirement.</p>
        </div>
        <div class="col-sm">
            <h2>Why Small Groups?</h2>
            <p>Small reading groups consist of three readers at approximately the same reading level. Children do not have to be the same age or even the same grade level. Children learn from Peers as well as from their Reading Coach. Private reading sessions are available however, many children prefer and thrive in small same level groups. Besides, reading with others makes it more fun.</p>
            <h2>Technology Needed</h2>
            <p>In order to participate in Rockin Readers online groups, students will need a charged device such as an ipad, chromebook, laptop, or desktop computer. Zoom may need to be downloaded on the device and a session link and password will be needed to join the group. A strong wifi signal is required and students must be able to hear and be heard through their device.</p>
            <h2>Reading Only</h2>
            <p>Rockin Readers offers reading practice only. We do not provide homework help!</p>
        </div>
    </div>
    <a class="btn btn-dark btn-lg" href="#" role="button">Reading Levels</a>
</div>