<div class="page-header">
    <div class="page-background cool-cats"></div>
    <h2 class="page-title">Cool Cats</h2>
</div>

<div class="page-content">
    <div class="spacer"></div>
    <p class="text-left">Can your child name all of the letters and the sounds they make? 0-2 errors – move on to the Rockin Rollers Assessment. More than 3 errors – Your Level is Cool Cats!</p>
    <img class="assessment-image" src="/images/cool-cats-assessment.png" alt="Cool cats assessment">
    <br><br>
    <a class="btn btn-dark btn-lg" href="/reading-levels" role="button">Reading Levels</a>
</div>