<div class="section">
    <div id="front-page-did-you-know">
        <h2 class="did-you-know-header">Did you know?</h2>
        <div class="did-you-know-content">
            <p>Reading for 30 minutes, 3 times per week</p>
            <p>= 468,000 words per year</p>
            <p>= 546 hours of reading by 6th grade</p>
            <p>= likely scoring 90% better than peers</p>
            <p>on standardized tests</p>
        </div>
    </div>

    <div id="front-page-ctas">
        <div class="row d-flex justify-content-md-around justify-content-sm-around justify-content-center">
            <div class="col-md col-cta">
                <p class="cta">Increase Confidence!</p>
                <a id="about-cta" href="/about" class="link-cta">
                    <p class="link-text-cta align-self-end">How it Works</p>
                </a>
            </div>
            <div class="col-md col-cta">
                <p class="cta">Improve Skills!</p>
                <a id="level-cta" href="/reading-levels" class="link-cta">
                    <p class="link-text-cta align-self-end">Reading Levels</p>
                </a>
            </div>
            <div class="col-md col-cta">
                <p class="cta">Be a Rockin Reader!</p>
                <a id="sign-up-cta" href="/sign-up" class="link-cta">
                    <p class="link-text-cta align-self-end">Start Reading 3 x 30</p>
                </a>
            </div>
        </div>
    </div>
</div>