<div class="container section">
    <div class="container" id="front-page-did-you-know">
        <h2>Did you know?</h2>
        <p>Reading for 30 minutes, 3 times per week</p>
        <p>= 468,000 words per year</p>
        <p>= 546 hours of reading by 6th grade</p>
        <p>= likely scoring 90% better than peers</p>
        <p>on standardized tests</p>
    </div>

    <div class="container" id="front-page-ctas">
        <div class="row d-flex">
            <p class="col col-cta">Increase Confidence!</p>
            <p class="col col-cta">Improve Skills!</p>
            <p class="col col-cta">Be a Rockin Reader!</p>
        </div>
        <div class="row d-flex">
            <figure class="col col-cta" id="about-cta">
                <figcaption>
                    How it works
                </figcaption>
            </figure>
            <figure class="col col-cta" id="level-cta">
                <img src="https://secureservercdn.net/45.40.148.147/hgd.0d2.myftpupload.com/wp-content/uploads/2020/06/guy-basabose-c-5Y_hUeRks-unsplash-5-1024x659.jpg">
                <figcaption>
                    Reading Levels
                </figcaption>
            </figure>
            <figure class="col col-cta" id="sign-up-cta">
                <img src="https://secureservercdn.net/45.40.148.147/hgd.0d2.myftpupload.com/wp-content/uploads/2020/06/guy-basabose-c-5Y_hUeRks-unsplash-5-1024x659.jpg">
                <figcaption>
                    Start Reading 3 x 30
                </figcaption>
            </figure>
        </div>
    </div>
</div>