<div class="page-header">
    <div class="page-background mega-stars"></div>
    <h2 class="page-title">Mega Stars</h2>
</div>

<div class="page-content">
    <div class="spacer"></div>
    <p class="text-left">Can your child read all of the words? 0-2 errors – move on to the Rock Legends Assessment. More than 5 errors go back to the Super Stars Assessment. 3- 5 errors – Your Level is Mega Stars!</p>
    <img class="assessment-image" src="/images/mega-stars-assessment.png" alt="Mega stars assessment">
    <br><br>
    <a class="btn btn-dark btn-lg" href="/reading-levels" role="button">Reading Levels</a>
</div>