<div class="page-header">
    <div class="page-background profile"></div>
    <h2 class="page-title">Profile</h2>
</div>

<div class="page-content">
    <div class="spacer"></div>
    <h3>Welcome, {{user.local.firstName}}!</h3>
    <a href="/new-reader">Add a New Reader</a>
</div>