<div class="page-header">
    <div class="page-background reading"></div>
    <h2 class="page-title">Reading Levels</h2>
</div>

<div class="page-content">
    <div class="spacer"></div>
    <h3 class="text-center">Determine your child’s reading level</h3>
    <h5 class="text-center">You can click on the headings below to get a better idea of your child’s reading level. Without helping them, ask your child to read the letters, words, or passages. If they struggle with 3 – 5 letters or words that is their Reading Level. If they miss less than 3 go to the next level. If they miss more than 5 go back a level. Levels are Cool Cats, Rockin Rollers, Rock Stars, Super Stars, Mega Stars, and Rock Legends.</h5>
    <div class="row">
        <div class="col">
            <strong><a href="/reading-levels/cool-cats">Letters and Sounds - Cool Cats</a></strong>
        </div>
        <div class="col">
            <strong><a>Short Vowel Words - Rockin Rollers</a></strong>
        </div>
        <div class="col">
            <strong><a>Silent e Words - Rock Stars</a></strong>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Your child is learning all of the letters of the alphabet and/or the sounds the letters make. And is learning to identify them out of order.</p>
        </div>
        <div class="col">
            <p>Your child is learning to sound out three letter consonant-vowel-consonant (CVC) words. These are words such as bat, leg, wig, dot, and sun.</p>
        </div>
        <div class="col">
            <p>Your child is learning to read long vowel words with silent e. These are words such as wake, dine, home, and huge.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong><a>Double Vowel Words - Super Stars</a></strong>
        </div>
        <div class="col">
            <strong><a>Prefix and Suffix Words - Mega Stars</a></strong>
        </div>
        <div class="col">
            <strong><a>Multi-syllable Words - Rock Legends</a></strong>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Your child is learning to read multiple sentences with words such as road, lead, shout, crowd, and seed.</p>
        </div>
        <div class="col">
            <p>Your child is learning to read root words with additional beginning and ending letters such as unfold, remake, hopeful, and lonely.</p>
        </div>
        <div class="col">
            <p>Your child is learning to read words with multiple syllables such as certainly, develop, commercial, and necessity.</p>
        </div>
    </div>
    <h2>Sign up and start reading 3 X 30!</h2>
    <a class="btn btn-dark btn-lg" href="#" role="button">Sign Up!</a>
</div>