<div class="page-header">
    <div class="page-background rock-legends"></div>
    <h2 class="page-title">Rock Legends</h2>
</div>

<div class="page-content">
    <div class="spacer"></div>
    <p class="text-left">Can your child name all of the words? More than 5 errors – Go back to the Mega Stars Assessment! Less than 5 errors your level is Rock Legends!</p>
    <img class="assessment-image" src="/images/rock-legends-assessment.png" alt="Rock legends assessment">
    <br><br>
    <a class="btn btn-dark btn-lg" href="/reading-levels" role="button">Reading Levels</a>
</div>