<div class="page-header">
    <div class="page-background rock-stars"></div>
    <h2 class="page-title">Rock Stars</h2>
</div>

<div class="page-content">
    <div class="spacer"></div>
    <p class="text-left">Can your child read all of the words? 0-2 errors – move on to the Super Stars Assessment. More than 5 errors go back to the Rockin Rollers Assessment. 3 – 5 errors – Your Level is Rock Stars!</p>
    <img class="assessment-image" src="/images/rock-stars-assessment.png" alt="Rock stars assessment">
    <br><br>
    <a class="btn btn-dark btn-lg" href="/reading-levels" role="button">Reading Levels</a>
</div>